<div class="row" id="main_row_ct">
  <div class="row" id="img_banner">
    <div id="logo_ct" class="small-6 small-centered columns">
      <img src="<%= image_path('logo_big.png') %>" id="logo">
    </div>
  </div>
  <div id="button_ct">
    <div class="row">
      <div id="login_with_google" class="small-8 small-centered columns auth_buttons">
        <%= button_to "Login with Google", "/auth/google_oauth2", id: "sign_in", class: "button" %>
      </div>
    </div>
    <div class="row">
      <div id="login_with_email" class="small-8 small-centered columns auth_buttons">
        <button id="login">Sign Up with Email</button>
      </div>
    </div>
  </div>
</div>
