<div class="row" id="map_ct">
  <div id="map-canvas" class="small-12 columns"></div>
  <div class="row" id="map_bar">
    <div id="map_bar_buttons" class="small-12 small-centered columns auth_buttons">
      <ul class="button-group radius">
        <form id="send-latlng" action='spots/create' method="POST">
          <input type="submit" value="Go Park Yourself" class="button" id="parked_button" data-reveal-id="myModal">
        </form>
      </ul>
    </div>
  </div>
</div>

<%= render 'myModal' %>

<%= render 'remindMeModal' %>


<div id="thanksModal" class="reveal-modal" data-reveal>
  <h2>Thanks for using GPY!</h2>
  <p>Don't forget to move!</p><br>

   <p><%= link_to "Sign out", signout_path, id: "sign_out" %></p>
  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- Default content for modal on spot creation -->
<!-- <h2>Sorry, you can't park here</h2>
  <p class="lead">Give it another go around the block.</p>
  <a class="close-reveal-modal">&#215;</a> -->
