<div class="row" id="map_ct">
  <div id="map-canvas" class="small-12 columns"></div>
  <div class="row" id="map_bar">
    <div id="map_bar_buttons" class="small-12 small-centered columns auth_buttons">
      <ul class="button-group radius">
        <form id="send-latlng" action='spots/create' method="POST">
          <input type="submit" value="Go Park Yourself" class="button" id="parked_button" data-reveal-id="myModal">
        </form>
      </ul>
    </div>
  </div>
</div>


<div id="myModal" class="reveal-modal full" data-reveal>
  <div id="table_ct">

  </div>
  <br>
  <p>Would you like us to remind you?</p>
  <a href="#" id='reminderModal' data-reveal-id="remindMeModal" class="secondary button">Yes</a>
  <a href="/user" class="secondary button">Nope</a>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="remindMeModal" class="tiny reveal-modal" data-reveal>
  <h2>Okay no Problem!</h2>


  <%= form_tag("/user/#{session[:user_id]}/", method: "PUT") do %>

    Telephone : <input id="tel" pattern="^\d{3}.*\d{3}.*\d{4}$" type="tel" name="phone_number">
    <div id="phone-form-update">
      <input type="checkbox" name="side-of-street" value='sideOne'> SideOne
      <input type="checkbox" name="side-of-street" value='sideTwo'> SideTwo
    </div>
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" class="button" id="submit_side_button">
  <%end%>

  <p>We'll send you a text an hour before you should move.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>


<div id="thanksModal" class="reveal-modal" data-reveal>
  <h2>Thanks for using GPY!</h2>
  <p>Don't forget to move!</p><br>

   <p><%= link_to "Sign out", signout_path, id: "sign_out" %></p>
  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- Default content for modal on spot creation -->
<!-- <h2>Sorry, you can't park here</h2>
  <p class="lead">Give it another go around the block.</p>
  <a class="close-reveal-modal">&#215;</a> -->
