<div class="row" id="map_ct">
  <div id="map-canvas" class="small-12 columns"></div>
  <div class="row" id="map_bar">
    <div id="map_bar_buttons" class="small-12 small-centered columns auth_buttons">
      <span>Is this where you parked?</span><br>
      <ul class="button-group radius">
        <!-- <li><button class="parked_buttons" >Yes</button></li> -->
        <!-- <li><button class="parked_buttons">No</button></li> -->
        <form id="send-latlng" action='spots/create' method="POST">
          <input type="submit" value="Yes" class="button" id="parked_button" data-reveal-id="myModal">
        </form>
      </ul>
    </div>
  </div>
</div>


<div id="myModal" class="reveal-modal full" data-reveal>
  <h2>Incredible Job!</h2>
  <p class="lead">You just managed to find a parking spot in New York City</p>
  <br>
  <p>Move your car by</p>
  <h2 id="time_to_move">8:30pm</h2>
  <p>Sunday, Feb 14th</p>
  <br>
  <p>Would you like us to remind you?</p>
  <p><a href="#" data-reveal-id="remindMeModal" class="secondary button">Yes</a></p>
  <p><a href="#" data-reveal-id="thanksModal" class="secondary button">Nope</a></p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="remindMeModal" class="reveal-modal" data-reveal>
  <h2>Okay no Problem!</h2>
  <p>We'll send you a text an hour before you should move.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>


<div id="thanksModal" class="reveal-modal" data-reveal>
  <h2>Thanks for using GPY!</h2>
  <p>"Don't it always seem to go<br>That you don't know what you got 'til it's gone<br>
They paved paradise and put up a parking lot"<br>- Counting Crows</p>
   <p><%= link_to "Sign out", signout_path, id: "sign_out" %></p>
  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- Default content for modal on spot creation -->
<!-- <h2>Sorry, you can't park here</h2>
  <p class="lead">Give it another go around the block.</p>
  <a class="close-reveal-modal">&#215;</a> -->
