<div class="row" id="map_ct">
  <div id="map-canvas" class="small-12 columns"></div>
  <div class="row" id="map_bar">
    <div id="map_bar_buttons" class="small-12 small-centered columns auth_buttons">
      <span>Is this where you parked?</span><br>
      <ul class="button-group radius">
        <li><button class="parked_buttons" data-reveal-id="myModal">Yes</button></li>
        <!-- <li><button class="parked_buttons">No</button></li> -->
        <!-- <form id="send-latlng" action='spots/create' method="POST">
          <input type="submit" value="I'm here">
        </form> -->
      </ul>
    </div>
  </div>
</div>


<div id="myModal" class="reveal-modal full" data-reveal>
  <h2>Sorry, you can't park here</h2>
  <p class="lead">Give it another go around the block.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
