<div class="row" id="main_row_ct">
   <div class="small-12 columns">
      <div class="row">
         <div class="profile-card">
            <div class="small-12 columns profile-image">
               <%= image_tag("#{current_user.image}",:class => "user-img right") %>
               <h4 class="right"><%= current_user.name.capitalize %> </h4>
               <%= image_tag('small_logo.png',:class => "user-img small-3 columns left") %>
            </div>
            <div class="small-12 columns">
            </div>
            <% if @spot %>
               <div id='last_spot_info'>
               <div class="small-12 columns last_spot">
               <h4>You're parked at: <span><%= @spot.full_address %>.</span></h4>

                  Display Current User.spot.last.active here
               </div>
               </div>
            <% end %>
            <div class="row collapse">
               <ul class="stack-for-small button-group">
                  <li><a href="#" class="button"> Already Moved <span> </span></a></li>
                  <li><a href="#" class="button"> Remind Me <span></span></a></li>
                  <li><a href="#" class="button"> Views <span></span></a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>