<div class="row" id="main_row_ct">
   <div class="small-12 columns">
      <div class="profile-card">
         <div class="row" id="user_header_row">
            <div class="small-12 columns profile-image">
               <%= image_tag("#{current_user.image}",:class => "user-img right") %>
               <div class="right">
                  <h4 id="user_page_name"><%= current_user.name.capitalize %> </h4>
                  <p class="right" id="user_sign_out_link"><%= link_to "Sign out", signout_path, id: "sign_out" %></p>
               </div>
               <%= image_tag('small_logo.png',:class => "user-img small-3 columns left") %>
            </div>
         </div>


      <% if @spot %>
      <div class="row" id="chart-row">
         <h5>Your vehicle is at:</h5>
         <div id='last_spot_info'>
         </div>
      </div>
      <% end %>
      <div class="full-width navigation-area">
      <div class="row" id="user_footer_row">
         <div class="fixed-bottom">
            <nav class="top-bar bottom-bar" id="bottom_nav">
               <button>Already Moved</button>
               <button>Remind Me</button>
            </nav>
         </div>
      </div>
      </div>
   </div>
</div>
</div>
