<div class="row bump">
   <div class="small-12 large-6 columns">
      <div class="row">
         <div class="profile-card">
            <div class="small-12 large-6 columns profile-image">
               <%= image_tag("#{current_user.image}",:class => "user-img") %>
            </div>
            <div class="small-12 large-8 columns">
               <h4><%= current_user.name.capitalize %> </h4>
               <p><i class="fi-mail"></i><span> <%= current_user.email %></span></p>
            </div>
            <% if @spot %>
               <div id='last_spot_info'>
               <div class="small-12 large-8 columns last_spot">
               <h4>You're parked at: <span><%= @spot.full_address %>.</span></h4>

                  Display Current User.spot.last.active here
               </div>
               </div>
            <% end %>
            <div class="row collapse">
               <ul class="button-group even-3">
                  <li><a href="#" class="button"> Already Moved <span> </span></a></li>
                  <li><a href="#" class="button"> Remind Me <span></span></a></li>
                  <li><a href="#" class="button"> Views <span></span></a></li>
               </ul>
            </div>

         </div>
      </div>
   </div>
</div>
