<div class="row" id="main_row_ct">
   <div class="small-12 columns">

      <div class="profile-card">
        <%= render 'user_header_row' %>

        <% if @spot %>
          <%= render 'chart_row' %>
        <% end %>
      </div>

      <%= render 'user_footer_row' %>
   </div>

  <%= render 'updateSpotModal' %>
</div>