<div id="remindMeModal" class="reveal-modal" data-reveal>
  <h2>Okay no Problem!</h2>

  <%= form_tag("/user/spot/#{@spot.id}/update", method: "PUT") do %>
    Telephone: <input type="tel" pattern="^\d{3}.*\d{3}.*\d{4}$" name="phone_number">
    <div id="phone-form-update">
      <input type="checkbox" name="side-of-street" value='sideOne'> SideOne
      <input type="checkbox" name="side-of-street" value='sideTwo'> SideTwo
    </div>
    <input type="hidden" name="remind?" value="true">
    <input type="submit" class="button" id="submit_side_button">
  <%end%>

  <p>We'll send you a text an hour before you should move.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>