<div class="row" id="user_header_row">
  <div class="small-12 columns profile-image">
     <%= image_tag("#{current_user.image}",:class => "user-img right") %>
     <div class="right" id="name_and_link">
        <h4 id="user_page_name"><%= current_user.name.capitalize %> </h4>
        <p class="right" id="user_sign_out_link"><%= link_to "Sign out", signout_path, id: "sign_out" %></p>
     </div>
     <%= image_tag('small_logo.png',:class => "small-3 columns left", :id => "logo_on_user_page") %>
  </div>
</div>