 html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url("floral_background.png");
  background-size: 100%;
  background-repeat: none;
 }

#map-canvas {
  height: 75vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  z-index:2;
}

#main_row_ct {
  position: relative;
  height: 100vh;
}

#map_ct {
  height: 100%;
}

#map_bar {
  padding-top: -10px;
  background-color: black;
  color:white;
  height:100vh;
}

#img_banner {
  background-image: url("intersection.jpeg");
  background-size: 100%;
  background-repeat: none;
  height:72vh;
}

#logo_ct {
  top: 8em;
  text-align: center;
  right: 10%;
}

.auth_buttons {
  text-align: center;
}

.auth_buttons button {
  background-color: transparent;
  border:2px solid white;
  border-radius: 10px;
}

.auth_buttons button:hover {
  background-color: rgb(138, 88, 157);
}


#sign_in {
  background-color: transparent;
  border:2px solid white;
  border-radius: 10px;
}

#sign_in:hover {
  background-color: rgb(138, 88, 157);
}

#parked_button {
  padding-top:0.33rem;
  padding-bottom:0.33rem;
  background-color: transparent;
  border:2px solid white;
  border-radius: 10px;
}

#parked_button:hover {
  background-color: rgb(138, 88, 157);
}

#logo {
  margin: auto;
  max-width: 135%;
  height: auto;
}

#login_with_google {
  padding-top: 1em;
}
/*#logo img {
  height:150%;
  width:150%;
}*/

#button_ct {
  height:28vh;
  background-color: black;
}

#myModal {
  background-color: rgba(0, 0, 0, 0.75);
  color:white;
  text-align: center;
}

#myModal h2 {
  color:white;
}

#regs_table {
  margin: 0 auto;
}

table {
  background-color: rgba(11, 10, 10, 0.5);
  border:none;
  border-collapse: separate;
  border-spacing: 1px;
}

.table_head {
  background-color: black;
  color: white;
}

tr {
  background-color: rgba(11, 10, 10, 0.5);
}

table tr td {
  padding: 0.1rem 1.25rem;
  font-size: 0.875rem;
  color: #222222;
  text-align: center;
}

.table_time {
  background-color: black;
  color: white;
  border:none;
}

.can_park {
  background-color: rgb(78, 186, 78);
}

.cant_park {
  background-color: rgb(255, 0, 0);
}
