 html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url("ash_fault.jpg");
  background-size: 100%;
  background-repeat: none;
 }

#map-canvas {
  height: 80vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  z-index:2;
  background: transparent url("http://i.imgur.com/zXm0HLn.gif") no-repeat center center;
}

#main_row_ct {
  position: relative;
  height: 100vh;
}

#map_ct {
  height: 100%;
}

#map_bar {
  padding-top: -10px;
  background-color: rgb(5, 5, 5);
  color:rgb(250, 250, 250);
  height:100vh;
}

#img_banner {
  background-size: 100%;
  background-repeat: none;
  height:70vh;
}

#logo_ct {
  top: 8em;
  text-align: center;
  right: 10%;
}

.auth_buttons {
  text-align: center;
}

.auth_buttons button {
  background-color: transparent;
  border:2px solid rgb(250, 250, 250);
  border-radius: 10px;
}

.auth_buttons button:hover {
  background-color: rgb(138, 88, 157);
}


#sign_in {
  background-color: transparent;
  border:2px solid rgb(250, 250, 250);
  border-radius: 10px;
}

#sign_in:hover {
  background-color: rgb(138, 88, 157);
}

#parked_button {
  padding-top:0.33rem;
  padding-bottom:0.33rem;
  background-color: transparent;
  border:2px solid rgb(250, 250, 250);
  border-radius: 10px;
}

#parked_button:hover {
  background-color: rgb(138, 88, 157);
}

#logo {
  margin: auto;
  max-width: 135%;
  height: auto;
}

#login_with_google {
  padding-top: 1em;
}
/*#logo img {
  height:150%;
  width:150%;
}*/

#button_ct {
  height:30vh;
  background-color: rgb(5, 5, 5);
}

#myModal {
  color:rgb(250, 250, 250);
  text-align: center;
  height: 100vh;
  overflow: scroll;
  background-image: url("light_ash_fault.jpg");
  background-size: 100% 100%;
  background-repeat: none;
}

#myModal h2, h3, h4 {
  color:rgb(250, 250, 250);
}

#thanksModal {
  background-color: rgba(0, 0, 0, 0.8);
  color:rgb(250, 250, 250);
  text-align: center;
  height: 100vh;
}

#thanksModal h2, h3, h4 {
  color:rgb(250, 250, 250);
}

#remindMeModal {
  background-color: rgba(0, 0, 0, 0.8);
  color:rgb(250, 250, 250);
  text-align: center;
  height: 100vh;
}

#remindMeModal h2, h3, h4 {
  color:rgb(250, 250, 250);
}

#regs_table {
  margin: 0 auto;
}

table {
  background-color: rgba(11,10,10,0.5);
  border: none;
  border-collapse: separate;
  border-spacing: 0rem;
}

td {
  border-right:1px solid rgb(5, 5, 5);
}

.table_head {
  background-color: rgb(5, 5, 5);
  color: rgb(250, 250, 250);
}

tr {
  background-color: rgba(11, 10, 10, 0.5);
}

table tr td {
  padding: 0.1rem 1.25rem;
  font-size: 0.875rem;
  color: #222222 ;
  border: 1px solid rgba(0, 0, 0, 0.19);
  text-align: center;
  border-right: 1px solid rgba(16, 16, 16, 0.56);
}

.table_time {
  background-color: rgb(5, 5, 5);
  color: rgb(250, 250, 250);
  border:none;
}

.can_park {
  background-color: rgb(78, 186, 78);
}

.cant_park {
  background-color: rgb(255, 0, 0);
}

.user-img {
border-radius: 10px;
}

#logo_on_user_page {
  min-height: 100px;
  min-width: 100px;
}

.profile-card {
  width: 95%;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  padding:15px;
  color: rgb(202, 175, 146);
  height:90vh;
}

#user_page_name {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.profile-card h4, h5 {
  color: rgb(250, 249, 249);
  font-family: 'Ubuntu Condensed', sans-serif;
}

.last_spot {
  margin-left: 2%;
}
.last_spot span {
display: inline-flex;

}

.small-12.large-6.columns.profile-image {
margin-top: 2%;
}

.button {
  background-color: rgba(16, 13, 13, 0.66);
  border-radius: 10px;
  padding-top:0.33rem;
  padding-bottom:0.33rem;
  margin-left: 15px;
  margin: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  margin-top: 10px;
}

.button:hover {
  background-color: rgb(138, 88, 157);
}

#last_spot_info {
  padding-bottom: 20px;
  text-align: center;
}

#chart-row {
  border-radius:10px;
  text-align: center;
  height: 70vh;
}

#user_header_row {
  height:10vh;
}

#bottom_nav {
  height:20vh;
  text-align: center;
}

#bottom_nav button {
  background-color: rgba(16, 13, 13, 0.66);
  border-radius: 10px;
  padding-top:0.33rem;
  padding-bottom:0.33rem;
  margin-left: 15px;
  margin: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  margin-top: 10px;
}

.top-bar {
  background
}

#bottom_nav button:hover {
  background-color: rgb(138, 88, 157);
}

#user_sign_out_link {
  margin-top: -15px;
  font-size: 11px;
  font-style: italic;
}

#user_sign_out_link a{
  color: rgb(166, 118, 195);
}

#move_by_time {
  color: rgb(166, 118, 195);
}

#name_and_link {
  margin-right: 5px;
}

#submit_side_button {
  background-color: transparent;
  border:2px solid rgb(250, 250, 250);
  border-radius: 10px;
}
