<div class="row" id="map_bar">
  <div id="map_bar_buttons" class="small-12 small-centered columns auth_buttons">
    <ul class="button-group radius">
      <form id="send-latlng" action='spots/create' method="POST">
        <input type="submit" value="Go Park Yourself" class="button" id="parked_button" data-reveal-id="myModal">
      </form>
    </ul>
  </div>
</div>