<div id="myModal" class="reveal-modal full" data-reveal>

  <%= image_tag "ajax-loader.gif", :id => "purple-ajax-loader" %>

  <div id="table_ct">

  </div>
  <br>
  <div id='reminder-hider'>
    <p>Would you like us to remind you?</p>
    <a href="#" id='reminderModal' data-reveal-id="remindMeModal" class="secondary button">Yes</a>
    <a href="/user" class="secondary button">Nope</a>
  </div>
    <a class="close-reveal-modal">&#215;</a>
</div>
