<!DOCTYPE html>
<html>
<head>
  <title>GoParkYourself</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="map-canvas">
  </div>
  <form id="send-latlng" action='#' method="POST">
    <input type="submit" value="I'm here">
  </form>

<%= yield %>

</body>
</html>
